# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
build/
.turbo/

# Env
.env
.env.local
.env.*.local

# Prisma
packages/database/prisma/migrations/dev.db

# Uploads
apps/api/uploads/

# Backups
backups/*.sql.gz

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
